* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo';
    
}

.side-bar {
    display: flex;
    flex-direction: column;
    background-color: #3A001E;
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
}

.side-bar .menu-container {
    width: 100%;
    margin-top: 30px;
}

.side-bar ul {
    text-decoration: none;
    width: 100%;
    padding: 0;
}

.side-bar ul li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    color: white;

}

.side-bar img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    margin: 5% 9%;

}

.side-bar ul li a:hover, .span-a:hover {
    text-decoration: none;
    list-style: none;
    background-color: #FF8599;

}

.side-bar ul li a, .span-a {
    cursor: pointer;
    display: block;
    width: 100%;
    text-decoration: none;
    color: azure;
    border: none;
}


.titulo {
    display: flex;
    justify-content: center;
    font-family: 'Baloo';
    margin-top: 20px;
}


@font-face {
    font-family: 'Baloo';
    src: url(../BalooBhaijaan.ttf);
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    background-color: #EDE9D0;
    font-weight: bolder;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    margin-left: 10%;
}   

.kpi{
display: flex;
justify-content: space-around;
width: 100% ;
margin-top: 50px;
}

.kpi1, .kpi2, .kpi3{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 120px;
    justify-content: flex-start;
    align-items: center;
}

.kpi1{
    background-color: #FF8599;
    border-radius: 20px;
    color:white;
}

.kpi2{
    background-color: rgb(65, 231, 65);
    border-radius: 20px;
    color:white;
}

.kpi3{
    background-color: rgb(235, 75, 75);
    border-radius: 20px;
    color:white;
}

.kpi span {
    margin-top: 15px;
    font-size: 40px;
}


.grafico {
    background-color: white;
    width: 50%;
    height: 50%;
    margin-top: 50px;
}