* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.conteudo-principal {
    display: flex;
    background-color: #EDE9D0;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    background-size: cover;
}   

.conteudo-principal1 {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 60%;
    margin-left: 10%;
    /* background-color:#EDE9D0 ; */
}

.side-bar {
    display: flex;
    flex-direction: column;
    background-color: #3A001E;
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
}

.side-bar .menu-container {
    width: 100%;
}

.side-bar ul {
    text-decoration: none;
    width: 100%;
    padding: 0;
}

.side-bar ul li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    color: white;

}

.side-bar img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    margin: 5% 9%;

}

.side-bar ul li a:hover, .span-a:hover {
    text-decoration: none;
    list-style: none;
    background-color: #FF8599;

}

.side-bar ul li a, .span-a {
    cursor: pointer;
    display: block;
    width: 100%;
    text-decoration: none;
    color: azure;
    border: none;
}

.conteudo-principal1 .grafico{
    display: flex;
    width: 100%;
    height: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: 'Baloo';
}


@font-face {
    font-family: 'Baloo';
    src: url(../BalooBhaijaan.ttf);
}

.kpi{
display: flex;
justify-content: space-between;
}