* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* border-box representa o "limite" do conteúdo, onde não vai passar do tamanho definido*/
} 

.page {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.containerNav{
    display:flex;
    width: 100%;
    height: 13vh;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #3A001E;
}

.containerNav .logo{
    display: flex;
    height: 100%;
    align-items: center;
}
.containerNav .logo img {
    height: 80%;
}

.containerNav .navegacao{
    gap: 5vw;
    display: flex;
    justify-content: space-between;
}

.containerNav .navegacao a{
    display: flex;
    color: #EDE9D0;
    font-family: 'Baloo';
    justify-content: center;
    text-decoration: none;
}

.imagem-fundo{
display: flex;
width: 100%;   
height: 87vh;
opacity: 80%;
background-image: url(../assets/monte-fuji.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.conteudo {
    display: flex;
    width: 100;
    height: 100vh;
    flex-direction: column;
    background-color: #EDE9D0;
    gap: 10%;   
    font-family: 'Baloo';
}
.conteudo .titulo{
    display: flex;
    justify-content: center;
    font-family: 'Baloo';
    color: #3A001E;
    font-weight: bolder;
    margin-top:5%;
    font-size: 30px;
    /* background-color: aquamarine; */
}
.divisao-conteudo{
display:flex;
width: 100%;
/* background-color: pink; */
justify-content: space-around;
}

.conteudo-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 50%;
}

.texto {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Baloo';
    padding: 20px;
}

.imagem-conteudo{
display: flex;
width:50%;
background-image: url(../assets/studytired.jpg  );  
}

.container-info{
 background-color: #FF8599;
 width: 100%;
 height: 100vh;
}

.container-info .titulo{
    display: flex;
    justify-content: center;
    color: #EDE9D0;
    font-weight: bolder;
    width:100%;
    height: 25vh;
   
}

.teste {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;
 font-family: 'Baloo';
 font-size: x-large;
}

.blocos{
display:flex;
flex-direction: column;
height: 50vh;   
margin-top: 5%;
align-items: center;
justify-content: center;
}

.texto-bloco{
display:flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
color: #EDE9D0;
font-family:'Baloo';
font-size: large;
}

.container-blocos{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    height: 85vh;
}

.blocos .bloco-imagem img{
    width: 300px ;
    height: 300px ;
    display: flex;
    justify-content: center;
}

.imagem-fundo2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;   
height: 100vh;
background-image: url(../assets/books.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.chamada .imagem-fundo2 .texto-chamada{
    display:flex;
    font-family: 'Baloo';
    font-size: x-large;
    background-color: antiquewhite;
    margin-bottom: 10%;
}
.chamada .imagem-fundo2 .texto-chamada span{
   color: #3A001E;
   display: flex;
   flex-direction: row;

}

.botao{
    display: flex;
    background-color: #3A001E;
    color: white;
    border: none;
    width: 15vw;
    height: 10vh;   
    justify-content: center;
    align-items: center;
    border-radius:20px;
    font-family: 'Baloo';

}

.botao:hover{
    cursor: pointer;
}
@font-face {
    font-family: 'Baloo';
    src: url(/projeto-tanoshii/BalooBhaijaan.ttf);
}