body{
padding: 0;
margin: 0;
}

.conteudo-principal{
display: flex;
background-color: #EDE9D0;
font-weight: bolder;
justify-content: center;
align-items: center;

}
.conteudo-principal .texto-inicial{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

hr{
 border: solid 2px #3A001E;
}
.conteudo-principal1{
display: flex;
flex-direction: column;
font-weight: bolder;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.side-bar{
    display: flex;
    flex-direction: column;
    background-color: #3A001E;
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
}

.side-bar ul {
    text-decoration: none;
    
    padding: 0;

}

.side-bar ul li{
text-decoration: none;
list-style: none;
color: white;

}

.side-bar img{
display: flex;
justify-content:  center;
align-items: center;
 width:100%; 
 height:100%;

}

.side-bar ul li:hover{
text-decoration: none;
list-style: none;
background-color: #FF8599;

}
.side-bar ul li a {
    text-decoration: none;
    color: azure;
}
.conteudo-hiragana{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.bloco-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100%;
    margin-bottom: 10px;

}


.bloco-conteudo .furigana-img{
    display: flex;
    justify-content: center;
}
.titulo{
    display: flex;
    justify-content: center;
    font-family: 'Baloo';}


@font-face {
    font-family: 'Baloo';
    src: url(../BalooBhaijaan.ttf);
}