body{
padding: 0;
margin: 0;
}

.conteudo-principal{
display: flex;
flex-direction: column;
background-color: antiquewhite;
font-weight: bolder;
justify-content: center;
align-items: center;
}
.conteudo-principal .texto-inicial{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}
.conteudo-principal1{
display: flex;
flex-direction: column;
font-weight: bolder;
justify-content: center;
align-items: center;
margin-top: 20px;
}
.conteudo-hiragana{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.bloco-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100%;
    margin-bottom: 10px;

}


.bloco-conteudo .furigana-img{
    display: flex;
    justify-content: center;
}

.katakana{
    display: flex;
    justify-content: center;
}

.kanji{
    display: flex;
    justify-content: center;
}